<ng-template>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="navbar-header">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="searchText" placeholder="Search" name="q">
        </div>
        </form>
    </div>
</div>
</nav>
    <div class="container" ng-controller="MainController as cntrl">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="feedback-form-title">Add a new row</h2>
                <form name="submitRow" class="feedback-form" ng-submit="cntrl.submit()">
                    <div class="form-group">
                        <textarea type="text" ng-model="cntrl.text" required="true" name="text" placeholder="Value is required" class="form-control" id="feedback-form-message" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success pull-right">Submit</button>
                </form>
            </div>

            <aside class="col-sm-8">
                <div class="maincontent feedback">
                    <h2 class="article-title">Енеїда</h2>
                    <div class="feedback-messages">
                        <table class="table table-striped">
                            <tr ng-repeat="row in cntrl.eneida | filter: searchText">
                                <td>
                                    {{row.text}}
                                </td>
                                <td><div class="media-left"><a ng-href="/{{row.id}}"><button type="button" class="btn btn-info"></span>Edit</button></a></div></td>
                                <td><div class="media-left"><button ng-click="cntrl.delete(row.id)" class="feedback-delete btn  btn-danger">Delete</button></div></td>
                            </tr>
                        </table>
                    </div>
                   
                </div>
            </aside> 
        </div>
    </div>

</ng-template>